section#Home {
  background-image: url("./herobackground.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
#over-lay {
  background-color: rgba(215, 215, 221, 0.29);
  height: 100vh;
  width: 100vw;
}

#second-part {
}
